:root {
  --square-inactive: #CAF0F8;
  --square-empty: #0077B6;
  --square-empty-highlight: #03045E;
  --square-ship: #a39b8b;
  --square-ship-hit: #f77f00;
  --square-miss: #d9ed92;

  --info-square-ship: ;
  --info-square-hit: ;
  --info-board-background: ;

  --display-background: #F1FAEE;
}

.square-miss {
  background-color: var(--square-miss);
}

.square-inactive {
  background-color: var(--square-inactive);
}

.square-ship-hit {
  background-color: var(--square-ship-hit);
}

.square-ship {
  background-color: var(--square-ship);
}

.square-empty {
  background-color: var(--square-empty);
}

html,
body {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;
}

#display {
  background-color: #F0FFFF;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-board {
  margin: 1rem;
  display: grid;
  background-color: beige;
  grid-template-columns: repeat(10, 40px);
}

.column{
  display: grid;
  grid-template-rows: repeat(10, 40px);
}

.square {
  background-color: aqua;
  border: 1px solid black;
  width: 100%;
}

.highlight-square {
  cursor: pointer;
  background-color: #a8d5e7;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.highlight-square:hover {
  background-color: #87CEEB;
}

.game-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-indicator::before {
  content: "🔴";
}

#game-boards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#game-info-board {
  display: flex;
  flex-direction: column;
}

#health-display {
  width: 250px;
  height: 250px;
  background-color: rgb(255, 205, 144);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ship-hp {
  width: 25px;
  height: 25px;
  background-color: beige;
  border: 1px solid black;
}

.ship {
  display: flex;
}