html,
body {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;
}

#display {
  background-color: #F0FFFF;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  margin: 1rem;
  display: grid;
  background-color: beige;
  grid-template-columns: repeat(10, 40px);
}

.column{
  display: grid;
  grid-template-rows: repeat(10, 40px);
}

.square {
  background-color: aqua;
  border: 1px solid black;
  width: 100%;
}

.highlight-square {
  cursor: pointer;
  background-color: #a8d5e7;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.highlight-square:hover {
  background-color: #87CEEB;
}

.game-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-indicator::before {
  content: "🔴";
}